name: Audit
on:
  schedule:
    - cron: "0 0 * * *"

  push:
    branches:
      - main
    paths:
      - "**/Cargo.toml"
      - "**/Cargo.lock"

  pull_request:
    branches:
      - main
    paths:
      - "**/Cargo.toml"
      - "**/Cargo.lock"

jobs:
  security_audit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install
        uses: taiki-e/install-action@cargo-deny

      - name: Scan
        run: cargo deny check advisories
